@import "tailwindcss";

:root {
  --background: #f0eee9;
  --secondary: #212322;
  --text: #1e1e1e;
}

@theme inline {
  --color-background: var(--background);
  --color-secondary: var(--secondary);
  --font-rethinkSans: var(--font-rethink-sans);
  --font-satoshi: var(--font-satoshi);
  --font-helvetica: Helvetica, sans-serif;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #212322;
    --foreground: #f0eee9;
  }
} */

body {
  background: var(--background);
  color: var(--text);
  font-family: var(--font-satoshi), var(--font-rethink-sans), Helvetica,
    sans-serif;
}
